@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:wght@400;700&display=swap");
:root {
  --red: #d01c28;
  --gray: #2e2e2e;
}
* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  margin-left: 70px;
}
.Hero-content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
button {
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  margin-right: 40px;
}
.Hero {
  display: flex;
  align-items: center;
  height: auto;
}
.Hero h1 {
  font-weight: 500px;
  line-height: 102px;
  font-size: 86px;
  margin-top: 42px;
}
.Hero p {
  font-weight: 600px;
  color: var(--gray);
  max-width: 400px;
}
.Hero-btn {
  display: flex;
  gap: 40px;
}
.Hero-btn button {
  font-size: 24px;
}
.secondary-btn {
  background-color: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.shopping p {
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons {
  display: flex;
  gap: 16px;
}
